version: "3"

services:

  liveview:
    build:
      context: ./liveview
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - "./liveview:/root/liveview"
    working_dir: "/root/liveview"
    command: ["mix", "phx.server"]
    depends_on:
      - postgres
      - dynamo

  grpc:
    build:
      context: ./grpc
      dockerfile: Dockerfile

  nerves:
    build:
      context: ./nerves
      dockerfile: Dockerfile
    volumes:
      - "./nerves:/root/nerves"
      - "./ssh_keys:/root/.ssh"
    env_file:
      - env_files/nerves.env

  postgres:
    image: postgres:11-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgresql-data:/var/lib/postgresql
    environment:
      - "TZ=Asia/Tokyo"
      - "POSTGRES_INITDB_ARGS='--lc-collate=ja_JP.utf8' '--lc-ctype=ja_JP.utf8'"
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
      - "POSTGRES_HOST=database"

  dynamo:
    image: amazon/dynamodb-local:1.11.477
    ports:
      - "8000:8000"
    volumes:
      - dynamodb-data:/home/dynamodblocal
    command: ["-jar", "DynamoDBLocal.jar", "-sharedDb"]

  dynamo-admin:
    image: node:12-alpine
    ports:
      - "8001:8001"
    environment:
      - "DYNAMO_ENDPOINT=http://dynamo:8000"
    command: ["/bin/sh", "-c", "npm install -g dynamodb-admin && dynamodb-admin"]
    depends_on:
      - dynamo

  aws-cli:
    image: python:3.7.4-alpine
    command: ["/bin/sh", "-c", "pip3 install awscli --upgrade && /bin/sh"]
    depends_on:
      - dynamo
      - dynamo-admin

  gigalixir-client:
    build:
      context: ./gigalixir_client
      dockerfile: Dockerfile
    volumes:
      - "./ssh_keys:/root/.ssh"
      - "./liveview:/root/liveview"
    env_file:
      - env_files/gigalixir_login.env
    working_dir: "/root/liveview"

volumes:

  postgresql-data:
    driver: local

  dynamodb-data:
    driver: local
