version: "3"

services:

  liveview:
    build:
      context: ./liveview
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    volumes:
      - "./liveview:/root/liveview"
    working_dir: "/root/liveview"
    command: ["mix", "phx.server"]
    depends_on:
      - postgres
      - mongo

  grpc:
    build:
      context: ./grpc
      dockerfile: Dockerfile

  nerves:
    build:
      context: ./nerves
      dockerfile: Dockerfile
    volumes:
      - "./nerves:/root/nerves"
      - "./ssh_keys:/root/.ssh"
    env_file:
      - env_files/nerves.env

  postgres:
    image: postgres:11-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgresql-data:/var/lib/postgresql
    environment:
      - "TZ=Asia/Tokyo"
      - "POSTGRES_INITDB_ARGS='--lc-collate=ja_JP.utf8' '--lc-ctype=ja_JP.utf8'"
      - "POSTGRES_USER=postgres"
      - "POSTGRES_PASSWORD=postgres"
      - "POSTGRES_HOST=database"

  mongo:
    image: mongo:4.1.13-bionic
    ports:
      - "27017:27017"
    volumes:
      - mongodb-data:/data/db

  gigalixir_client:
    build:
      context: ./gigalixir_client
      dockerfile: Dockerfile
    volumes:
      - "./ssh_keys:/root/.ssh"
      - "./liveview:/root/liveview"
    env_file:
      - env_files/gigalixir_login.env
    working_dir: "/root/liveview"

volumes:

  postgresql-data:
    driver: local

  mongodb-data:
    driver: local
